# Node modules
node_modules/

# Build output
dist/
*.tsbuildinfo

# Environment
.env
.env.*            # ignore other env variants (local/test), keep .env.example if present
!.env.example

# Prisma generated client
/src/generated/prisma

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.vscode/
.idea/

# Coverage / test output
coverage/
jest-cache/

# Misc
*.log
*.sql
.env.local
